.admin-container {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
}

.admin-top-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
}

.admin-container section {
    margin-bottom: 2rem;
    width: 100%;
}
.collapsible-header {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.admin-container h3 {
    background: #fafafa;
    border-radius: 12px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #764ba2;
}
.admin-container h3:hover {
    transform: scale(1.02);
}
.buttons-in-li-group {
    display: flex;
    gap: 1rem;
}
.button-in-li {
    background: transparent;
    width: fit-content;
    border: 2px solid #764ba2;
    border-radius: 10px;
    padding: 6px;
}
.button-in-li:hover {
    background: #764ba2;
    color: #fff;
}

.admin-container ul {
    list-style: none;
    padding: 0;
}

.admin-container li {
    background-color: #fafafa;
    color: #333;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.add-product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    justify-content: flex-start;
}
.admin-input-add-product {
    flex: 1 1 200px;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.add-product-form button {
    font-size: 0.8rem;
    align-self: flex-end;
}
.admin-container ul {
    padding: 0;
    list-style: none;
}

.admin-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.review-title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.review-text {
    color: #333;
}